.git
.github
.husky
.nx
.codex
.agents

node_modules
dist
coverage
logs
tmp

certs
*.log

.env
.env.*
apps/*/.env
apps/*/.env.*
apps/signing-node/.node*.env
apps/signing-node/.node*.env.*
apps/*/generated

scripts/load-test/results
